
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        html {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.3.1023/styles/kendo.bootstrap-v4.min.css" />
    <script src="https://kendo.cdn.telerik.com/2019.3.1023/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.3.1023/js/kendo.all.min.js"></script>
    @*<link href="~/Content/kendo/2019.3.1023/kendo.common.min.css" rel="stylesheet" />
        <link href="~/Content/kendo/2019.3.1023/kendo.default.min.css" rel="stylesheet" />
        <link href="~/Content/kendo/2019.3.1023/kendo.default.mobile.min.css" rel="stylesheet" />
        <script src="~/Scripts/kendo/2019.3.1023/kendo.all.min.js"></script>*@
    <link href="~/style.css" rel="stylesheet" />
</head>
<body>
    <div class="center">
       
        <div>
            <div class="center"><h1>Equipment/Vehicle Pre-Checklist</h1></div>
            <form class="form-group">
                <ul class="fieldlist">
                    <li>
                        <label >Company</label>
                        <input id="simple-input" type="text" class="k-textbox" />
                    </li>
                    <li>
                        <label >UnitNo</label>
                        <input id="simple-input" type="text" class="k-textbox " />
                    </li>
                    <li>
                        <label >Milages</label>
                        <input id="simple-input" type="text" class="k-textbox " />
                    </li>
                    <li>
                        <label for="country">Fluid Levels:</label>
                        <select id="country" name="country">
                            <option value="australia">Motor Oil</option>
                            <option value="canada">Radiator</option>
                            <option value="usa">Power Steering</option>
                        </select>
                    </li>
                    <li>
                        <label >UnitNo</label>
                        <input id="simple-input" type="text"  class="k-textbox " />
                    </li>
                    <li>
                        <button class="k-button k-primary">Submit</button>
                    </li>

                </ul>
            </form>
        </div>

        @*<style>
            .fieldlist {
                margin: 0 0 -2em;
                padding: 0;
            }

                .fieldlist li {
                    list-style: none;
                    padding-bottom: 2em;
                }

                .fieldlist label {
                    display: block;
                    padding-bottom: 1em;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 12px;
                    color: #444;
                }
        </style>*@
        <style>
            input[type=text], select {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }

            input[type=submit] {
                width: 100%;
                background-color: #4CAF50;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

                input[type=submit]:hover {
                    background-color: #45a049;
                }

            div {
                border-radius: 5px;
                background-color: #f2f2f2;
                padding: 20px;
            }
        </style>
    </div>
</body>
</html>